<div class="login">
    <div class="box">
        <div class="opacity">
            <div class="identation">
                <h1>Login</h1>
                <label for="userId">Username or email</label>
                <input type="text" name="userId" id="userId">
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass">
                <input type="button" value="login" id="login">
                <div>
                <img src="assets/images/designworkplan_vector_arrow_collection-01.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
