.user{
    position: relative;
    width: 100%;
}

.box *{
    position: relative;
    display: block;
    margin: auto;
}
.login input[type="text"], .login input[type="password"]{
    margin: 0;
    width: 100%;
    border-radius: 2rem;
    border: none;
    padding: 0.5rem;
}
.login{
    position:relative;
    padding: 0;
    width: 70%;
    z-index: 99;
    color: #d9d9d9;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    text-align: center;
}
.login *{
    padding: 0.3rem 0;
    margin:0.7rem 0;
}
.box{
    position: relative;
    margin: 0;
    width:600px;
    background-image: url("src/assets/images/nature1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 650px;
    border-radius: 1rem;
    z-index: 999;
    margin: 2rem auto;
    box-shadow: -7px 0px 41px 21px rgba(0,0,0,0.35);
    -webkit-box-shadow: -7px 0px 41px 21px rgba(0,0,0,0.35);
    -moz-box-shadow: -7px 0px 41px 21px rgba(0,0,0,0.35);
    overflow: hidden;
    padding: 0;
}
.opacity{
    z-index: 999999;
    background: rgba(255, 102, 0, 0.637);
    background: linear-gradient(332deg, rgba(255, 102, 0, 0.4) 0%, rgba(255, 136, 0, 0.4) 51%, rgba(255, 162, 0, 0.4) 100%);
    width:600px;
    max-height: 670px;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
}
.register{
    text-align: center;
    position: relative;
    color: black;
    text-align: center;
    background-color: white;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 100rem;
    border-bottom-right-radius: 100rem;
    cursor: pointer;
    overflow: hidden;
}
.register div{
    width: 70%;
    margin: auto;
}
.register div *{
    margin: 1rem;
}
.register input[type="text"], .register input[type="password"]{
    margin: 0;
    width: 100%;
    border-radius: 2rem;
    border: 1px solid black;
    padding: 0.5rem;
}
.register h1{
    padding: 0.5rem;
}

#login-button, #register-button{
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    color: white;
    background-color: rgb(57, 113, 185);
    border-radius: 0.3rem;
}