<div class="user">
    <div class="box">
        <div class="opacity">
            <div class="register" [@openClose]="this.isOpen ? 'open' : 'closed'">
                <div class="identation">
                    <h1 (click)="toggle()">Register</h1>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="example">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="example@example.com">
                    <label for="pass">Password</label>
                    <input type="password" name="pass" id="pass">
                    <label for="passAgain">Repeat Password</label>
                    <input type="password" name="passAgain" id="passAgain">
                    <input type="button" value="Register" id="register-button">
                </div>
            </div>
            <div class="login">
                <h1>Login</h1>
                <label for="userId">Username or email</label>
                <input type="text" name="userId" id="userId" placeholder="example@example.com">
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass">
                <input type="button" value="login" id="login-button">
            </div>
        </div>
    </div>
</div>
