.message {
    position: relative;
    width: 70%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.text {
    position: relative;
    display: block;
    z-index: 99;
    width: 60%;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-height: 180px;
    overflow:-moz-hidden-unscrollable;
    overflow: hidden;
}

.message.send{
    position:relative;
    float: right;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.bg-message {
    position: absolute;
    z-index: 9;
    margin-left: 10px;
    top: -10px;
    width: 100%;
}