.dark-mode{
    color: white;
    background-color: #333;
}

.light-mode{
    color: black;
    background-color: #fff;
}

nav {
    display: block;
    margin: 0;
    padding: 2rem;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: 25px;
}

.menu {
    position: relative;
    margin-top: 40px;
    display: flex;
    float: right;
    margin-right: 5rem;
}

.menu li {

    list-style: none;
}

.dark-mode .menu-element {
    color: rgb(255, 106, 0);

}

.light-mode .menu-element {
    color: rgb(211, 88, 0);
}

.menu-element {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.light-mode .activate-menu {
    color: rgb(0, 0, 0);
}

.dark-mode .activate-menu {
    color: rgb(166, 166, 166);
}

/* .activate-menu i{
    background-color: rgb(210, 210, 210) !important;
} */
.menu-element:hover {
    /* color:rgb(210, 210, 210); */
}

.menu-element:hover>.expand {
    display: block;
}

.material-icons {
    position: relative;
    bottom: 15px;
    font-size: 50px;
}

.expand {
    position: absolute;
    width: 500px;
    /* max-height: 600px; */
    top: 35px;
    right: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #646464;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.expand-element {
    padding: 1rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.expand-element:hover {
    color: rgb(255, 106, 0);
}

.fas, .fa{
    position: relative;
    bottom: 15px;
    font-size: 35px;
    cursor: pointer;
}

.notification{
    position: relative;
    bottom: 80px;
    left: 20px;
    display: block;
    font-size: 20px;
    background-color: tomato;
    color: white;
    border-radius: 50%;
    width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* @keyframes up-animation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: trans
    }
} */
