.dark-mode{
    color: white;
    background-color: #333;
}

.light-mode{
    color: black;
    background-color: #fff;
}

nav {
    display: block;
    margin: 0;
    padding: 2rem;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: 25px;
}

.menu {
    position: relative;
    margin-top: 40px;
    display: flex;
    float: right;
    margin-right: 5rem;
}

.menu li {

    list-style: none;
}

.dark-mode .menu-element {
    color: rgb(255, 106, 0);

}

.light-mode .menu-element {
    color: rgb(211, 88, 0);
}

.menu-element {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.light-mode .activate-menu {
    color: rgb(0, 0, 0);
}

.dark-mode .activate-menu {
    color: rgb(166, 166, 166);
}

/* .activate-menu i{
    background-color: rgb(210, 210, 210) !important;
} */
.menu-element:hover {
    /* color:rgb(210, 210, 210); */
}

.menu-element:hover>.expand {
    display: block;
}

.material-icons {
    position: relative;
    bottom: 15px;
    font-size: 50px;
}

.expand {
    position: absolute;
    width: 500px;
    max-height: 600px;
    overflow-y: auto;
    top: 35px;
    right: 10px;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 5px #646464;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.expand-element {
    padding: 1rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.expand-element:hover {
    color: rgb(255, 106, 0);
}

.fas, .fa{
    position: relative;
    bottom: 15px;
    font-size: 40px;
    cursor: pointer;
}

.chat-header{
    display: block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-header .fa, .chat-header .fas{
    color: rgb(255, 106, 0);
    font-size: 30px;
    bottom: 0;
    padding: 1rem;
}

.fa-expand-alt{
    position: relative;
    float: right;
}
.chat-body-users{
    display: block;
    overflow: auto;
    height: 400px;
}

.chat-body-user{
    display: block;
    border: 2px solid black;
    padding: 1rem;
    margin: 0.2rem;
    color: #333;
}

.chat-body-aside{
    display: block;
    display: flex;
    color: rgb(255, 106, 0);
    justify-content: center;
}

.chat-body-messages{
    height: 100%;
}
