img{
    display: block;
    width:100px;
    margin: auto;
    cursor: pointer;
}
img:hover{
    filter: brightness(115%);
}
nav{
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(221, 221, 221);
    width: 100%;
    padding-top:0.5rem;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 1rem 1rem 0rem 0rem;
    color: rgba(255, 255, 255, 0.733);
}
nav li:hover{
    background: rgba(0, 0, 0, 0.062);
    transition: all 0.1s;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
}

@media only screen and (max-width: 800px){
    nav{
        width: 100%;
        text-align:left;
        padding: 0;
    }
    nav li{
        display:block;
        margin: 0;
    }
    nav li:hover{
        background: rgba(0, 0, 0, 0.062);
        color: white;
        border-radius: 0;
    }
    span{
        display: none;
    }
}