.dark-mode{
    color: white;
    background-color: #333;
}

.light-mode{
    color: black;
    background-color: #fff;
}

.footer{
    display: flex;
    margin-top: 0rem;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.footer div{
    /* text-align: center; */
    padding: 1rem;
    width: 200px;
}
.footer h1{
    font-size: 20px;
}


.dark-mode {
    color:rgb(255, 106, 0);   
}

.light-mode{
    color: rgb(211, 88, 0);
}