
.dark-mode{
    color: white;
    background-color: #333;
    padding-top: 1rem;
}

.light-mode{
    color: black;
    background-color: #fff;
    padding-top: 1rem;
}

h1{
    color: rgba(255, 166, 0, 0.322);
    font-size: 10rem;
    text-align: center;
}

h2{
    color: orange;
    text-align: center;
}
p{
    margin: 0;
    color: orange;
    text-align: center;
    padding-bottom: 15rem;
}