<div class="banner">
    <img src="assets/wwca.png" alt="logo" id="logo">
    <h2 class="slogan">for clean and transparent information</h2>
</div>

<div class="pappers">
    <div class="mission papper">
        <!-- chincheta image -->
        <img src="assets/chincheta.png" alt="chincheta" class="chincheta">
        <h1>Mission</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquid rerum vitae id quae nam magni,
            alias
            in. Fugiat vel eius laudantium sint repudiandae odit dolor magni deleniti omnis blanditiis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. A perferendis pariatur ad quod sit, et vero
            necessitatibus, voluptatum soluta quidem sequi officia deserunt aliquam temporibus ipsum eius quam
            voluptates deleniti?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum animi aliquid ex iste ab libero accusantium
            dolorem non, enim eligendi praesentium, cum blanditiis, magni nulla. Molestias repellat adipisci eius unde.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus hic sunt officia odio dolore. Deserunt
            ipsa molestiae omnis nam veniam itaque assumenda ducimus similique id, ad eaque ullam sed porro!
        </p>
    </div>

    <div class="vision papper">
        <!-- chincheta image -->
        <img src="assets/chincheta.png" alt="chincheta" class="chincheta">
        <h1>Vision</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquid rerum vitae id quae nam magni,
            alias
            in. Fugiat vel eius laudantium sint repudiandae odit dolor magni deleniti omnis blanditiis.</p>
    </div>

    <div class="values papper">
        <!-- chincheta image -->
        <img src="assets/chincheta.png" alt="chincheta" class="chincheta">
        <h1>Values</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquid rerum vitae id quae nam magni,
            alias
            in. Fugiat vel eius laudantium sint repudiandae odit dolor magni deleniti omnis blanditiis.</p>
    </div>
</div>