<div class="flex-container" [ngClass]="this.darkmode ? 'dark-mode' : 'light-mode'">
    <div class="relevant-news">
        <h1>Relevant News</h1>
        <div>
            <div class="news">
                <h2>Lorem ipsum dolor sit amet consect</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab itaque autem dicta est excepturi eveniet, recusandae maiores odit eius, a illo! Id esse aliquam soluta doloremque cum culpa cumque minima.</p>
            </div>
            <div class="news">
                <h2>Lorem ipsum dolor sit amet consect</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab itaque autem dicta est excepturi eveniet, recusandae maiores odit eius, a illo! Id esse aliquam soluta doloremque cum culpa cumque minima.</p>
            </div>
            <div class="news">
                <h2>Lorem ipsum dolor sit amet consect</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab itaque autem dicta est excepturi eveniet, recusandae maiores odit eius, a illo! Id esse aliquam soluta doloremque cum culpa cumque minima.</p>
            </div>
            <div class="news">
                <h2>Lorem ipsum dolor sit amet consect</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab itaque autem dicta est excepturi eveniet, recusandae maiores odit eius, a illo! Id esse aliquam soluta doloremque cum culpa cumque minima.</p>
            </div>
            <div class="news">
                <h2>Lorem ipsum dolor sit amet consect</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab itaque autem dicta est excepturi eveniet, recusandae maiores odit eius, a illo! Id esse aliquam soluta doloremque cum culpa cumque minima.</p>
            </div>
            <div class="news">
                <h2>Lorem ipsum dolor sit amet consect</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab itaque autem dicta est excepturi eveniet, recusandae maiores odit eius, a illo! Id esse aliquam soluta doloremque cum culpa cumque minima.</p>
            </div>
            <div class="news">
                <h2>Lorem ipsum dolor sit amet consect</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab itaque autem dicta est excepturi eveniet, recusandae maiores odit eius, a illo! Id esse aliquam soluta doloremque cum culpa cumque minima.</p>
            </div>
    
        </div>
    </div>
    
    <div class="maps">
        <h1>Maps</h1>
        <div class="flex-container">
            <div class="map air-pollution"></div>
            <div class="map soil"></div>
        </div>
    </div>
</div>
