<div class="banner">
    <img src="assets/wwca.png" alt="logo" id="logo">
    <h2 class="slogan">for clean and transparent information</h2>
</div>

<div class="pappers">
    <div class="mission papper">
        <!-- chincheta image -->
        <img src="assets/chincheta.png" alt="chincheta" class="chincheta">
        <h1>Mission</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquid rerum vitae id quae nam magni, alias
            in. Fugiat vel eius laudantium sint repudiandae odit dolor magni deleniti omnis blanditiis.</p>
    </div>
    
    <div class="vision papper">
        <!-- chincheta image -->
        <img src="assets/chincheta.png" alt="chincheta" class="chincheta">
        <h1>Vision</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquid rerum vitae id quae nam magni, alias
            in. Fugiat vel eius laudantium sint repudiandae odit dolor magni deleniti omnis blanditiis.</p>
    </div>
    
    <div class="values papper">
        <!-- chincheta image -->
        <img src="assets/chincheta.png" alt="chincheta" class="chincheta">
        <h1>Values</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquid rerum vitae id quae nam magni, alias
            in. Fugiat vel eius laudantium sint repudiandae odit dolor magni deleniti omnis blanditiis.</p>
    </div>
</div>