
.fas, .fa{
    position: relative;
    bottom: 15px;
    font-size: 35px;
    cursor: pointer;
}

.chat-header{
    display: block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffffff;
    z-index: 9999;
}

.chat-header .fa, .chat-header .fas{
    color: rgb(255, 106, 0);
    font-size: 30px;
    bottom: 0;
    padding: 1rem;
}

.fa-expand-alt{
    position: relative;
    float: right;
}

.chat-body-users{
    display: block;
    overflow: auto;
    height: 0%;
    transition: height 0.5s;
    background-color: #ffffff;
}

.message{
    display: block;
    width: 60%;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 10px;
    color: #333;
}

.bg-message{
    position: relative;
    width: 100%;
    z-index: 99;
}

.text{
    position: absolute;
    width: 87%;
    top: 30px;
    left: 35px;
    z-index: 999;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message.received{
    position: relative;
    display: block;
    width: 350px;
    word-wrap: break-word;
    left: 100px;
}

.message.send{
    position: relative;
    display: block;
    width: 350px;
    word-wrap: break-word;
}

.chat-body-user{
    display: block;
    padding: 1rem;
    margin: 0.2rem;
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    color: white;
}

/* .light-mode .chat-body-user{
    background-color: rgb(114, 182, 255);
    color: rgb(255, 255, 255);
}
.dark-mode .chat-body-user{

} */
.chat-body-user:hover{
    background-color: rgb(75, 75, 75);
}

.chat-body-aside{
    display: block;
    display: flex;
    color: rgb(255, 106, 0);
    justify-content: center;
}

.chat-body-messages{

    position: relative;
    height: 100%;
}

.message-container{
    display: flex;
    flex-direction: column;
    height: 0%;
    width: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    margin: auto;
    transition: height 0.5s;
}

.down-animation{
    height: 0px;
}

.up-animation {
    height: 500px;
}

.toggle{
    display: block;
    text-align: center;
    background-color: #ffffff;
}

.input-text{
    display: block;
    width: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 40px;
    margin: auto;
    border-radius: 20px;
    text-indent: 20px;
    outline: none;
    border: 2px solid #333;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fa-angle-up, .fa-angle-down{
    margin: auto;
    color: rgb(255, 106, 0);

}

.add-user{
    background-color: white;
}

.add-user input{
    border: none;
    margin-bottom: 20px;
    
}
.add-user input[type=text]{
    border: 2px solid #333;
    padding: 1rem;
    width: 65%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
}
.add-user input[type=button]{
    display: inline-block;
    width: 20%;
    background-color: rgb(255, 106, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem;
}

.deactivate{
    display: none;
}

.responseList{
    background-color: rgb(255, 200, 72);
    color: rgb(52, 52, 52);
    padding: 1rem;
    margin: 0.2rem;
}

.responseList input{
    margin: 1rem;
    color: white;
    padding: 1rem;
    margin: 0.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}

.btn-send{
    color: #333;
    position: absolute;
    bottom: 15px;
    right: 65px;
    cursor: pointer;
}
.btn-send:hover{
    color: rgb(106, 106, 106);
}

.error{
    background-color: tomato;
    color: white;
    width: 100%;
    padding: 1rem;
}

app-chat-message{
    margin: 1rem;
}

.no-message{
    background-color: orange;
    color: white;
    width: auto;
    padding: 1rem;
}
.windows{
    position: relative;
    z-index: 2;
}
.blurred-black-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}