<div [ngClass]="this.darkmode ? 'dark-mode' : 'light-mode'">
    <div class="chat-header">
        <i class="fa fa-user-plus" (click)="this.isAddNewContact = !this.isAddNewContact"></i>
        <i class='fas fa-expand-alt'></i>
    </div>
    <div class="add-user" *ngIf="this.isAddNewContact">
        <input type="text" placeholder="Username" [(ngModel)]="this.sendUser">
        <input type="button" value="Add" (click)="this.addNewContact($event)">
    </div>

    <div class="chat-body">
        <div class="chat-body-users" [ngClass]="this.isChatOpen ? 'down-animation' : 'up-animation'">
            <div class="confirm-contacts" *ngFor="let obj of this.confirmAddContactList">
                <app-confirm-contact [text]="obj.text" [item]="obj"></app-confirm-contact>
            </div>
            <div class="responseList" *ngFor="let obj of this.responseList">
                <div>{{obj.text}}</div>
                <input type="button" value="Ok" (click)="this.deleteItem($event, obj)">
            </div>
            <div class="contacts" *ngFor="let obj of this.contactList">
                <div class="chat-body-user" (click)="toggleChat($event)">
                    <span class="chat-body-user-name">{{obj.contact}}</span>
                </div>
            </div>
        </div>
        <div class="toggle">
            <!-- <i class='fas fa-angle-up' *ngIf="!this.isChatOpen" (click)="toggleChat($event)"></i> -->
            <i class='fas fa-angle-down' *ngIf="this.isChatOpen" (click)="toggleChat($event)"></i>
        </div>
        <div class="chat-body-messages" *ngIf="this.isCompOpen">
            <div class="message-container" [ngClass]="!this.isChatOpen ? 'down-animation' : 'up-animation'">
                <div class="message received">
                    <img src="" class="bg-message">
                    <span class="text">hola mundo aldkjflakdjflakjdflakdjf lkadjfladjkf alkjdf adflk adflk fadflk Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Nobis, non omnis quo blanditiis neque in
                        tenetur. Magni ullam nesciunt eos laudantium nemo aliquid vero! Provident nulla numquam ab
                        nostrum earum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae assumenda
                        odio expedita officiis quos, culpa delectus perspiciatis asperiores maxime eligendi eveniet ab
                        recusandae, totam enim nihil saepe minima, fuga eos.</span>
                </div>
                <div class="message received">
                    <img src="" class="bg-message">
                    <span class="text">hola mundo aldkjflakdjflakjdflakdjf lkadjfladjkf alkjdf adflk adflk fadflk Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Nobis, non omnis quo blanditiis neque in
                        tenetur. Magni ullam nesciunt eos laudantium nemo aliquid vero! Provident nulla numquam ab
                        nostrum earum?</span>
                </div>
                <div class="message received">
                    <img src="" class="bg-message">
                    <span class="text">hola mundo</span>
                </div>
                <div class="message received">
                    <img src="" class="bg-message">
                    <span class="text">hola mundo <br> hola mundo <br> hola mudno <br> hola
                        mundolajfd<br>holadjflkldajf<br>flakdjflakjd<br>aldkfjlaldkjfk</span>
                </div>
                <div class="message received">
                    <img src="" class="bg-message">
                    <span class="text">hola mundo <br> hola mundo <br> hola mudno<br>la dflkadjflk</span>
                </div>
                <div class="message send">
                    <img src="" class="bg-message">
                    <span class="text">hola mundo <br> hola mundo <br> hola mudno<br>la dflkadjflk</span>
                </div>

            </div>
            <input class="input-text" type="text" placeholder="Type a message..." *ngIf="this.isChatOpen">
        </div>

    </div>
</div>