<div [ngClass]="this.darkmode ? 'dark-mode' : 'light-mode'">
    <div class="chat-header">
        <i class="fa fa-user-plus" (click)="this.isAddNewContact = !this.isAddNewContact"></i>
        <i class='fas fa-expand-alt'></i>
    </div>
    <div class="add-user" *ngIf="this.isAddNewContact">
        <input type="text" placeholder="Username" [(ngModel)]="this.sendUser" (keyup.enter)="this.addNewContact($event)">
        <input type="button" value="Add" (click)="this.addNewContact($event)">
        <div class="error" *ngIf="!this.isValidContact">{{this.invalidContactName}}</div>
    </div>

    <div class="chat-body">
        <div class="chat-body-users" [ngClass]="this.isChatOpen ? 'down-animation' : 'up-animation'">
            <div class="confirm-contacts">
                <app-confirm-contact  *ngFor="let obj of this.confirmAddContactList" [text]="obj.text" [item]="obj"></app-confirm-contact>
            </div>
            <div class="responseList" *ngFor="let obj of this.responseList">
                <div>{{obj.text}}</div>
                <input type="button" value="Ok" (click)="this.deleteItem($event, obj)">
            </div>
            <div class="contacts" *ngFor="let obj of this.contactList">
                <div class="chat-body-user" (click)="openChat($event, obj)">
                    <span class="chat-body-user-name">{{obj.contact}}</span>
                </div>
            </div>
        </div>
        <div class="toggle">
            <!-- <i class='fas fa-angle-up' *ngIf="!this.isChatOpen" (click)="toggleChat($event)"></i> -->
            <i class='fas fa-angle-down' *ngIf="this.isChatOpen" (click)="toggleChat($event)"></i>
        </div>
        <div class="chat-body-messages" *ngIf="this.isCompOpen">
            <div class="message-container" [ngClass]="!this.isChatOpen ? 'down-animation' : 'up-animation'" >
               <app-chat-message *ngFor="let obj of this.chats" [message]="this.obj.message" [type]="this.checkTypeOfMessage(obj.user)" ></app-chat-message>
            </div>
            <input class="input-text" type="text" placeholder="Type a message..." *ngIf="this.isChatOpen" [(ngModel)]="this.message" (keyup.enter)="this.sendMessage($event)">
            <i class="material-icons btn-send" *ngIf="this.isChatOpen" (click)="this.sendMessage($event)">send</i>
        </div>

    </div>
</div>