#mainDiv{
    display: none;
}

#maps{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 753px;
    height: 503px;
}

#mapC{
    position: absolute;
    top: 380px;
    left: 510px;
}


#dataMaps{
    border: 1px solid black;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 1035px;
    height: 500px;
    background-color: aliceblue;
}

#rankingMaps{
    border: 1px solid black;
    margin-bottom: 50px;
    width: 1820px;
    background-color: aliceblue;
}

#titleRankings{
    text-align: center;
}

#selectDiv{
    text-align:center;
    margin-bottom: 10px;
}

#selectRankings{
    margin: auto;
}

#datePicker{
    text-align:center; 
}

#datePicker > *{
    margin: auto;
}

#datePickerLocation {
    position: absolute;
    right: 20%;
    top: 77.5%
}

#datePickerForecastData{
    position: absolute;
    right: 20%;
    top: 30%
}

#statisticalLocationData{
    position: absolute;
    right: 15%;
    top: 12%;
    width: 320px;
}

.dataContainer{
    top: 0px;
    width: 1035px;
    height: 430px;
}

.dataContainer{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding-right: 20px;
}

#pollutantInfo > p{
    margin-bottom: 2px;
}

#infoaqitable {
    display: none;  
}

#locationData{
    display: none;
}

#forecastData{
    display: none;
}

#nodataMessage{
    text-align: center;
}

#errorMessage{
    text-align: center;
}




   
