.container{
    background-color: rgb(255, 200, 72);
    color: rgb(52, 52, 52);
    padding: 1rem;
    margin: 0.2rem;
}
.text{
    margin-bottom: 2rem;
}

input{
    margin: 1rem;
    color: white;
    padding: 1rem;
    margin: 0.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}

.confirm{
    /* background-color: rgb(18, 178, 0); */
}
.deny{
    /* background-color: rgb(255, 55, 0); */


}